* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 375px;
  margin: 71px auto;
}

/* TOP CONTAINER */
.top-container {
  vertical-align: top;
  margin: 71px auto;
  width: 351px;
}

h1 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 47.07px;
  letter-spacing: -0.045em;
  margin-bottom: 38px;
}

.who-we-are {
  width: 439px;
  margin-bottom: 10px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.team-description {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  width: 333px;
}

/* CREW MEMBERS */
.the-crew {
  display: grid;
  width: 335px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 300px);
  column-gap: 27px;
  row-gap: 15px;
  margin: 71px auto;
}

.crew-member:nth-child(2n) {
  align-self: end;
}

.crew-member {
  width: 155px;
}

img {
  width: 139px;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

.member-role {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 0.8rem;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  float: right;
}

/* FOOTER */
footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17.07px;
  color: #a9a9a9;

  text-align: center;
  margin: 24px auto;
}

.username {
  font-weight: 700;
  text-decoration: underline;
}
